@model IQueryable<CCWordBoard.ViewModel.QuizQuestionsVM>

@{
    ViewBag.Title = "Questionnaire";
    Layout = "_SpecLayout";
    int count = 1, countR = 0;  
}

<h2>Questionnaire</h2>

<div class="Quiz">
    
    @if (Model != null && Model.Any())
    {
        <div id="successRate"></div>
        <div id="ratio"></div>
                                                                       
        foreach (var question in Model)
        {
            <div class="BlockQ" style="border: 1px solid #bdbdbd; width: 75%; border-radius: 4px; margin-top: 40px; background-color: #f0ffff; padding: 8px;">

                <div class="Question" style="padding: 2%;">
                    <span class="label label-warning"> @string.Format("{0}{1}.", "Q", count.ToString())</span>
                    <span id="@string.Format("{0}{1}", "ID_Q", count.ToString())" style="display: none;">@question.VMQuizQuestionId.ToString()</span>
                    <p style="display: inline; padding: 2%;" id="@string.Format("{0}{1}", "Q", count.ToString())">@question.VMQuizQuestionText</p>
                </div>

                <div class="Choices" style="margin-left: 8%; margin-bottom: 4%;">

                @foreach (var choice in question.VMQuizAnswers)
                {
                    <label class="radio-inline">
                        <input type="radio" name="@string.Format("{0}{1}", "inlineRadioOptions", count.ToString())" id="@string.Format("{0}{1}", "inlineRadio", countR.ToString())" value="@choice.QuizAnswerText" style="margin-left: -16px;"> @choice.QuizAnswerText
                    </label><br/>
                    countR++;
                }

                </div>

                <div id="@string.Format("{0}{1}{2}", "Ans", "Q", count.ToString())"></div>

            </div>
        
            count++;
        }
    
        <span id="countQuections" style="display: none;">@count.ToString()</span>
        <button type="button" id="SubmitQuiz" class="btn btn-default" style="margin-top: 10px;"><span class="glyphicon glyphicon-ok"></span> Submit </button>
    }

</div> <!-- ending quiz --> 

<!-- referring to _SpecLayout.cshtml -->
@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function() {

            $('#SubmitQuiz').on('click', // click submit button
                function() {

                    //count questions  
                    var sel = $('#countQuections').text();

                        console.log("Test:" + sel);

                    var resultQuiz = [], countQuestion = parseInt(sel), question = {}, j = 1;
                    
                    // store answers temporarily
                    for (var i = 1; i < countQuestion; i++) {
                        question = {
                            QuizQuestionID: $('#ID_Q' + i).text(),
                            QuizAnswerId: $('#Q' + i).text(),
                            QuizAnswerText: $('input[name=inlineRadioOptions' + i + ']:checked').val()
                        }

                        resultQuiz.push(question);
                    }
                    
                    // not enough answers provided
                    for (var i = 0; i < resultQuiz.length; i++) {
                        if (resultQuiz[i].QuizAnswerText == null) {
                            $('#successRate').html('<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span><b> &nbsp;Please enter choices for all questions .. &nbsp;</b></div>');
                        }
                    }
                    
                    // send asynchronous POST request to QuizController and add/modify appropriate <div> tags
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("SelectAnswers", "Quiz")',
                        data: { resultQuiz },

                        success: function(response) {

                            console.log("response.result.length: " + response.result.length.toString());
                            if (response.result.length > 0) {

                                var l = 0;
                                for (var i = 0; i < response.result.length; i++) {

                                    if (response.result[i].isCorrect == true) {
                                        $('#AnsQ' + j)
                                            .html(
                                                '<div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Correct answer.</div>');
                                    } else {
                                        $('#AnsQ' + j).html(
                                            '<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Incorrect answer - The correct answer is <b>' +
                                            response.result[i].quizAnswerCorrect +
                                            '.</b></div>');
                                        l++;
                                    }
                                    j++;
                                }

                                if (l / j != 0) {
                                    $('#successRate')
                                        .html(
                                            '<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span><b> &nbsp;Failed&nbsp;</b></div>');
                                    $('#ratio').html(
                                        '<div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span><b>&nbspFailure ratio:&nbsp;' +
                                        ((l / (j - 1)) * 100).toString() +
                                        '%</b>');
                                } else {
                                    $('#successRate')
                                        .html(
                                            '<div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> &nbsp;Passed&nbsp;</div>');
                                    $('#ratio').html(
                                        '<div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <b>&nbspFailure ratio:&nbsp; 0</b>');
                                }
                            } else {
                                alert("Something Wrong");
                            }
                        },
                        error: function(response) {

                        }
                    });

                    console.log(resultQuiz);

                });


        });

    </script>
}